@model IEnumerable<ASP_NET_CORE_MANY_TO_MANY_CRUD.Models.Author>

@{
    ViewData["Title"] = "AuthorList";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Author List</h2>
        </div>
        <div class="col-4">
            <a asp-action="Create" class="btn btn-success text-white float-right">Create New Author</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model=>model.AuthorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mail)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AuthorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem=> item.Mail)
                            </td>
                            <td>
                                @Html.ActionLink("Edit","Edit",new { id=item.AuthorId}, new { @class = "btn btn-info"}) |
                                @Html.ActionLink("Detele","Detele",new { id=item.AuthorId}, new { @class = "btn btn-danger", onclick = "return confirm(''Do you want to delete')" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

